#!/usr/bin/env bash

# shellcheck disable=SC2312,SC2154

declare PLATFORM
if [[ "${OSTYPE}" == "linux"* ]]; then
  PLATFORM="linux"
elif [[ "${OSTYPE}" == "darwin"* ]]; then
  PLATFORM="mac"
fi
export PLATFORM

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
export PYTHONIOENCODING='UTF-8'

export EDITOR=vim

export XDG_CONFIG_HOME="${HOME}/.config"

GPG_TTY=$(tty)
export GPG_TTY

export MANPAGER='less -X'

# shellcheck disable=SC2154
if [[ "${COLORTERM}" = gnome-* && "${TERM}" = xterm ]] && infocmp gnome-256color >/dev/null 2>&1; then
  export TERM='gnome-256color'
elif infocmp xterm-256color >/dev/null 2>&1; then
  export TERM='xterm-256color'
fi

[[ -f "${HOME}/bin/sensible.bash" ]] && . "${HOME}/bin/sensible.bash"

export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1

# Load Homebrew as early as possible
if [[ "${PLATFORM-}" == "mac" ]]; then
  # Apple M series chip install location
  [[ -f /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"

  # Apple Intel chip install location
  [[ -f /usr/local/bin/brew ]] && eval "$(/usr/local/bin/brew shellenv)"
elif [[ "${PLATFORM-}" == "linux" ]]; then
  [[ -f /home/linuxbrew/.linuxbrew/bin/brew ]] &&
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

SHELL="$(command -v bash)"
export SHELL

export GOPATH="${HOME}/go"

export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1

# order by priority desc (highest priority should be listed last)
export PATH="${HOMEBREW_PREFIX}/opt/gnu-sed/libexec/gnubin:${PATH}"
export PATH="${HOME}/.docker/bin:${PATH}"
export PATH="${HOME}/.local/bin:${PATH}"
export PATH="${GOPATH}/bin:${PATH}"
export PATH="${HOME}/bin/git:${PATH}"
export PATH="${HOME}/bin:${PATH}"

export RUBY_BUILD_OPTS="--verbose"

export RUBYOPT="--yjit"
