# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

*.log

.config/*
!.config/btop/
!.config/htop/
!.config/gh/
!.config/neofetch/
!.config/k9s/
!.config/helm/
!.config/alacritty/
!.config/lazydocker/
!.config/yt-dlp.conf
!.config/mimeapps.list
!.config/dconf-settings.ini

.extra
.bash_extra
.extras
.bash_extras
.secrets
.bash_secrets

.ssh
.viminfo

*.socket

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.log
.tmp
